<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：文件-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.basic.mapper.FilePOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndinfo.cndlct.ssp.repository.impl.basic.po.FilePO">
        <result column="id" property="id"/>
        <result column="file_id" property="fileId"/>
        <result column="file_key" property="fileKey"/>
        <result column="file_url" property="fileUrl"/>
        <result column="file_name" property="fileName"/>
        <result column="file_size" property="fileSize"/>
        <result column="file_type" property="fileType"/>
        <result column="expire_time" property="expireTime"/>
        <result column="type" property="type"/>
        <result column="oss_file_name" property="ossFileName"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_org" property="createOrg"/>
        <result column="company_id" property="companyId"/>
        <result column="department_id" property="departmentId"/>
        <result column="account_org_id" property="accountOrgId"/>
        <result column="staff_id" property="staffId"/>
        <result column="idx" property="idx"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_id, file_key, file_url, file_name, file_size, file_type, expire_time, type, oss_file_name,
        create_user_name, update_user_name, create_org, company_id, department_id, account_org_id, staff_id, idx
    </sql>

</mapper>