<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：电子合同-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.contract.mapper.EContractPOMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndinfo.cndlct.ssp.repository.impl.contract.po.EContractPO">
        <id column="id" property="id"/>
        <result column="e_contract_no" property="eContractNo"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="effective_time" property="effectiveTime"/>
        <result column="expiration_time" property="expirationTime"/>
        <result column="sign_deadline" property="signDeadline"/>
        <result column="parent_contract_no" property="parentContractNo"/>
        <result column="business_type" property="businessType"/>
        <result column="business_no" property="businessNo"/>
        <result column="initiator_credit_code" property="initiatorCreditCode"/>
        <result column="source" property="source"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_org" property="createOrg"/>
        <result column="company_id" property="companyId"/>
        <result column="department_id" property="departmentId"/>
        <result column="account_org_id" property="accountOrgId"/>
        <result column="staff_id" property="staffId"/>
        <result column="idx" property="idx"/>
        <result column="e_sign_no" property="eSignNo"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, e_contract_no, title, type, status, effective_time, expiration_time, sign_deadline, parent_contract_no,
        business_type, business_no, initiator_credit_code, source, create_time, create_user, update_time, update_user,
        data_status, tenant_id, version, create_user_name, update_user_name, create_org, company_id, department_id,
        account_org_id, staff_id, idx, e_sign_no
    </sql>


    <!--        分页查询电子合同 封装-->
    <select id="queryPageByquery" resultType="com.cndinfo.cndlct.ssp.contract.dto.response.EContractPageDTO">
        select
        sec.id as e_contract_id,
        sm.avatar as avatar,
        sm.name as merchant_name,
        sec.title as title,
        sf.file_name as file_name,
        sec.`type` as type,
        sec.business_no as business_no,
        sec.e_contract_no as e_contract_no,
        sec.e_sign_no as e_sign_no,
        secrp.signed as signed,
        secrp.subject_name as subject_name,
        secrp.enterprise_name as enterprise_name,
        sec.create_time as send_time,
        sec.sign_deadline as signDeadline,
        sec.effective_time as effective_time,
        sec.expiration_time as expiration_time,
        secrp.sign_time as sign_time
        from ssp_e_contract sec
        left join ssp_e_contract_related_party secrp on sec.id =secrp.e_contract_id
        left join ssp_e_contract_attachment seca on sec.id
        left join ssp_file sf on sf.file_id = seca.file_id
        left join ssp_merchant sm on sm.id = secrp.merchant_id
        left join ssp_user_merchant_relation sumr on sumr.merchant_id = sm.id
        where 1=1
        and sumr.user_id = #{userId}
        <if test="signedorunsigned !=null  and signedorunsigned != ''   ">
            and secrp.signed = #{signedorunsigned}
        </if>
        <if test="query.startTime !=null and query.startTime.size() >0">
            and (sec.create_time between #{query.startTime[0]} and #{query.startTime[1]})
        </if>
        <if test="query.signDeadline !=null and query.signDeadline.size() >0">
            and (sec.sign_deadline between #{query.signDeadline[0]} and #{query.signDeadline[1]})
        </if>
        <if test="query.effectiveTime !=null and query.effectiveTime.size() >0">
            and (sec.effective_time between #{query.effectiveTime[0]} and #{query.effectiveTime[1]})
        </if>
        <if test="query.expirationTime !=null and query.expirationTime.size() >0">
            and (sec.expiration_time between #{query.expirationTime[0]} and #{query.expirationTime[1]})
        </if>
        <if test="query.signTime !=null and query.signTime.size() >0">
            and (secrp.sign_time between #{query.signTime[0]} and #{query.signTime[1]})
        </if>
        <if test="query.businessTime !=null and query.businessTime.size() >0">
            and (sec.business_time between #{query.businessTime[0]} and #{query.businessTime[1]})
        </if>
        <if test="query.keyword !=null and query.keyword != '' ">
            and(
            sm.name like concat('%',#{query.keyword},'%')  <!--签署商户名称 -->
            <!--            or sec.title like concat('%',#{query.keyword},'%') -->
            or secrp.subject_name like concat('%',#{query.keyword},'%') <!--签署公司名称 -->
            or secrp.enterprise_name like concat('%',#{query.keyword},'%') <!--发起公司名称 -->
            or sec.e_sign_no like concat('%',#{query.keyword},'%') <!--E建签文件编号 -->
            <!--            or sec.e_contract_no like concat('%',#{query.keyword},'%') &lt;!&ndash;协议编号 &ndash;&gt;-->
            or sf.file_name like concat('%',#{query.keyword},'%') <!--文件名称 -->
            or sec.e_contract_no like concat('%',#{query.keyword},'%') <!--合同编码 -->
            or sec.business_no like concat('%',#{query.keyword},'%') <!--关联单据号 -->

            )
        </if>
        <if test="query.typeList != null and query.typeList.size()>0">
            and sec.`type` in
            <foreach collection="query.typeList" item="type" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>

    </select>
</mapper>