<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：商户合作申请-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.business.merchant.mapper.MerchantCooperationApplicationPOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.cndinfo.cndlct.ssp.repository.impl.business.merchant.po.MerchantCooperationApplicationPO">
        <id column="id" property="id"/>
        <result column="initiator_merchant_id" property="initiatorMerchantId"/>
        <result column="partner_merchant_id" property="partnerMerchantId"/>
        <result column="status" property="status"/>
        <result column="relation_type" property="relationType"/>
        <result column="audit_user" property="auditUser"/>
        <result column="audit_time" property="auditTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_org" property="createOrg"/>
        <result column="company_id" property="companyId"/>
        <result column="department_id" property="departmentId"/>
        <result column="account_org_id" property="accountOrgId"/>
        <result column="staff_id" property="staffId"/>
        <result column="idx" property="idx"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, initiator_merchant_id, partner_merchant_id, status, relation_type, audit_user, audit_time, create_time,
        create_user, update_time, update_user, data_status, tenant_id, version, create_user_name, update_user_name,
        create_org, company_id, department_id, account_org_id, staff_id, idx
    </sql>

    <!--<select id="queryMerchantCooperationApplyPage" resultType="com.cndinfo.cndlct.ssp.merchant.infrastructure.repository.impl.merchantcooperationapplication.po.MerchantCooperationApplicationPO">-->
    <select id="queryMerchantCooperationApplyPage"
            resultType="com.cndinfo.cndlct.ssp.customer.merchant.entity.MerchantCooperationApply">
        select m.name MerchantName,a.status ,a.create_time,c.name,c.telephone from ssp_merchant_cooperation_application
        a
        inner join ssp_merchant m on a.initiator_merchant_id =m.id
        inner join ssp_merchant_contact c on a.partner_merchant_id =c.merchant_id
        <where>
            <if test="merchantCooperationApplication.initiatorMerchantId !=null and merchantCooperationApplication.initiatorMerchantId !=''">
                and a.initiator_merchant_id =#{merchantCooperationApplication.initiatorMerchantId}
            </if>
            <if test="merchantCooperationApplication.status !=null and merchantCooperationApplication.status!=''">
                and a.status = #{merchantCooperationApplication.status}
            </if>
        </where>
        order by a.create_time desc
    </select>

</mapper>