<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：整改单-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.rectification.mapper.RectificationPOMapper">

    <!-- 通用查询映射结果 -->
    <select id="queryPageList"
            resultType="com.cndinfo.cndlct.ssp.rectification.dto.response.RectificationQueryListDTO">
        select * from (
        select
        ssp_merchant.avatar ,
        ssp_rectification.id ,
        ssp_user_merchant_relation.user_id as user_id,
        ssp_rectification.title ,
        ssp_rectification.rectification_no ,
        ssp_rectification.status ,
        ssp_rectification.count,
        ssp_rectification.initiation_time as create_time ,
        ssp_rectification.deadline_time,
        ssp_rectification_reply.acceptance_result,
        ssp_rectification_item.`type`,
        ssp_rectification.merchant_id,
        ssp_merchant.name as merchant_name,
        sm.name as sender_merchant_name,
        row_number() over( partition by ssp_rectification.id order BY ssp_rectification_reply.create_time desc ) as rn
        from ssp_rectification
        left join ssp_rectification_item on ssp_rectification.id = ssp_rectification_item.rectification_id
        left join ssp_rectification_reply on ssp_rectification_reply.rectification_id =
        ssp_rectification_item.rectification_id
        left join ssp_user_merchant_relation on ssp_rectification.merchant_id = ssp_user_merchant_relation.merchant_id
        left join ssp_merchant on ssp_merchant.id = ssp_user_merchant_relation.merchant_id
        left join ssp_merchant sm on ssp_rectification.sender_merchant_id = sm.id
        where 1=1
        <if test=" query.splitStatus!=null and query.splitStatus.length > 0  ">
            and ssp_rectification.status in
            <foreach collection="query.splitStatus"
                     item="status" open="(" close=")" separator=",">
                #{status}
            </foreach>
        </if>
        <if test="query.deadlineTime != null">
            <!--            and #{query.deadlineTime} >= deadline_time-->
            and date_format(deadline_time,'%Y-%m-%d') = #{query.deadlineTime}
        </if>
        <if test="query.keyword !=null and query.keyword !='' ">
            and (
            ssp_merchant.name like concat('%',#{query.keyword},'%')
            or ssp_rectification.title like concat('%',#{query.keyword},'%') <!--整改单名称-->
            or ssp_rectification.rectification_no like concat('%',#{query.keyword},'%') <!--整改单编号-->
            or sm.name like concat('%',#{query.keyword},'%') <!--发起方名称-->
            )
        </if>
<!--        order by ssp_rectification.rectification_no ASC-->
        ) as result_list
        where rn = 1 and 1=1
        <if test="userId !=null and userId !='' ">
            and user_id =#{userId}
        </if>
        <if test="query.splitAcceptanceResult !=null and query.splitAcceptanceResult.length > 0">
            and acceptance_result in
            <foreach collection="query.splitAcceptanceResult"
                     item="result" open="(" close=")" separator=",">
                #{result}
            </foreach>
        </if>
        order by id asc
    </select>

    <!-- 获取整改单列表分页中的某一项 -->
    <select id="queryPageListGetOneById"
            resultType="com.cndinfo.cndlct.ssp.rectification.dto.response.RectificationQueryListDTO">
        select * from (
        select
        ssp_merchant.avatar ,
        ssp_rectification.id ,
        ssp_rectification.title as title ,
        ssp_rectification.rectification_no ,
        ssp_rectification.status ,
        ssp_rectification.count,
        ssp_rectification.initiation_time as create_time ,
        ssp_rectification.deadline_time,
        ssp_rectification_reply.acceptance_result,
        ssp_rectification_item.`type`,
        ssp_rectification.merchant_id,
        ssp_merchant.name as merchant_name,
        sm.name as sender_merchant_name,
        row_number() over( partition by ssp_rectification.id order BY ssp_rectification_reply.acceptance_time desc ) as
        rn
        from ssp_rectification
        left join ssp_rectification_item on ssp_rectification.id = ssp_rectification_item.rectification_id
        left join ssp_rectification_reply on ssp_rectification_reply.rectification_id =
        ssp_rectification_item.rectification_id
        left join ssp_user_merchant_relation on ssp_rectification.merchant_id = ssp_user_merchant_relation.merchant_id
        left join ssp_merchant on ssp_merchant.id = ssp_user_merchant_relation.merchant_id
        left join ssp_merchant sm on ssp_rectification.sender_merchant_id = sm.id
        where 1=1
        <if test="rectificationId !=null and rectificationId !='' ">
            and ssp_rectification.id = #{rectificationId}
        </if>
        ) as result_list
        where rn = 1
    </select>


    <!-- 通用查询结果列 -->
    <resultMap id="BaseResultMap" type="com.cndinfo.cndlct.ssp.repository.impl.rectification.po.RectificationPO">
        <id column="id" property="id"/>
        <result column="rectification_no" property="rectificationNo"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="credit_code" property="creditCode"/>
        <result column="status" property="status"/>
        <result column="contact_person" property="contactPerson"/>
        <result column="contact_telephone" property="contactTelephone"/>
        <result column="title" property="title"/>
        <result column="deadline_time" property="deadlineTime"/>
        <result column="count" property="count"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="sender_credit_code" property="senderCreditCode"/>
        <result column="sender_merchant_id" property="senderMerchantId"/>
        <result column="result" property="result"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, rectification_no, merchant_id, credit_code, status, contact_person, contact_telephone, title, deadline_time,
        count, create_time, create_user, update_time, update_user, data_status, tenant_id, version, sender_credit_code,
        sender_merchant_id, result
    </sql>
    <!--    <select id="queryPageList"-->
    <!--            resultType="com.cndinfo.cndlct.ssp.rectification.dto.response.RectificationQueryListDTO">-->
    <!--        select * from (-->
    <!--        select-->
    <!--        ssp_rectification.id ,-->
    <!--        ssp_rectification.rectification_no ,-->
    <!--        ssp_rectification.status ,-->
    <!--        ssp_rectification.count,-->
    <!--        ssp_rectification.create_time ,-->
    <!--        ssp_rectification.deadline_time,-->
    <!--        ssp_rectification_reply.acceptance_result,-->
    <!--        ssp_rectification_item.`type`,-->
    <!--        ssp_rectification.merchant_id,-->
    <!--        ssp_merchant.name as merchant_name,-->
    <!--        sm.name as sender_merchant_name,-->
    <!--        row_number() over( partition by ssp_rectification.id order BY ssp_rectification_reply.acceptance_time desc ) as rn-->
    <!--        from ssp_rectification-->
    <!--        left join ssp_rectification_item on ssp_rectification.id = ssp_rectification_item.rectification_id-->
    <!--        left join ssp_rectification_reply on ssp_rectification_reply.rectification_id =-->
    <!--        ssp_rectification_item.rectification_id-->
    <!--        left join ssp_merchant on ssp_rectification.merchant_id = ssp_merchant.id-->
    <!--        left join ssp_merchant sm on ssp_rectification.sender_merchant_id = sm.id-->
    <!--        where 1=1-->
    <!--        <if test="query.splitAcceptanceResult !=null and query.splitAcceptanceResult.length > 0">-->
    <!--            and ssp_rectification_reply.acceptance_result in-->
    <!--            <foreach collection="query.splitAcceptanceResult"-->
    <!--                     item="result" open="(" close=")" separator=",">-->
    <!--                #{result}-->
    <!--            </foreach>-->
    <!--        </if>-->
    <!--        <if test=" query.splitStatus!=null and query.splitStatus.length > 0  ">-->
    <!--            and ssp_rectification.status in-->
    <!--            <foreach collection="query.splitStatus"-->
    <!--                     item="status" open="(" close=")" separator=",">-->
    <!--                #{status}-->
    <!--            </foreach>-->
    <!--        </if>-->
    <!--        <if test="query.deadlineTime != null">-->
    <!--            and #{query.deadlineTime} >= deadline_time-->
    <!--        </if>-->
    <!--        <if test="query.keyword !=null and query.keyword !='' ">-->
    <!--            and ssp_merchant.name like concat('%',#{query.keyword},'%')-->
    <!--        </if>-->
    <!--        ) as result_list-->
    <!--        where rn = 1-->
    <!--    </select>-->
</mapper>