<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：整改回复-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.rectification.mapper.RectificationReplyPOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndinfo.cndlct.ssp.repository.impl.rectification.po.RectificationReplyPO">
        <id column="id" property="id"/>
        <result column="rectification_id" property="rectificationId"/>
        <result column="reply" property="reply"/>
        <result column="replier" property="replier"/>
        <result column="reply_time" property="replyTime"/>
        <result column="acceptance_result" property="acceptanceResult"/>
        <result column="acceptor" property="acceptor"/>
        <result column="acceptance_time" property="acceptanceTime"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="item_id" property="itemId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rectification_id, reply, replier, reply_time, acceptance_result, acceptor, acceptance_time, remark,
        create_time, create_user, update_time, update_user, data_status, tenant_id, version, item_id
    </sql>
    <!--通过整改项获取相关的整改回复-->
    <select id="getListByItem" parameterType="com.cndinfo.cndlct.ssp.rectification.entity.RectificationItem"
            resultType="com.cndinfo.cndlct.ssp.rectification.dto.response.RectificationReplyDTO">
        select * from ssp_rectification_reply
        where item_id = #{item.id}
        order by ssp_rectification_reply.create_time desc
    </select>

    <!--        <insert id="saveReply" >-->
    <!--                insert into ssp_rectification_reply (-->
    <!--                id, reply,rectification_id, item_id,replier, tenant_id, company_id, department_id, account_org_id, staff_id, idx, version, create_time, create_user, create_user_name, create_org, update_time, update_user, update_user_name, data_status-->
    <!--                ) values(-->
    <!--                #{rectificationReplyPO.id},#{rectificationReplyPO.reply},-->
    <!--                #{rectificationReplyPO.rectificationId},#{rectificationReplyPO.itemId},-->
    <!--                #{rectificationReplyPO.replier}, #{rectificationReplyPO.tenantId}, -->
    <!--                #{rectificationReplyPO.companyId},-->
    <!--                )-->
    <!--        </insert>-->

</mapper>