<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：整改项-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.rectification.mapper.RectificationItemPOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndinfo.cndlct.ssp.repository.impl.rectification.po.RectificationItemPO">
        <id column="id" property="id"/>
        <result column="rectification_id" property="rectificationId"/>
        <result column="type" property="type"/>
        <result column="issue_description" property="issueDescription"/>
        <result column="result" property="result"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rectification_id, type, issue_description, result, create_time, create_user, update_time, update_user,
        data_status, tenant_id, version
    </sql>

    <select id="getItem" resultType="com.cndinfo.cndlct.ssp.repository.impl.rectification.po.RectificationItemPO"
            parameterType="com.cndinfo.cndlct.ssp.rectification.entity.RectificationItem">
        select * from ssp_rectification_item where rectification_id = #{rectificationItem.rectificationId}
    </select>

</mapper>