<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：招标单范围-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.tender.mapper.TenderRoundScopePOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.cndinfo.cndlct.ssp.repository.impl.tender.po.TenderRoundScopePO">
        <id column="id" property="id"/>
        <result column="tender_id" property="tenderId"/>
        <result column="round" property="round"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="status" property="status"/>
        <result column="end_time" property="endTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_org" property="createOrg"/>
        <result column="company_id" property="companyId"/>
        <result column="department_id" property="departmentId"/>
        <result column="account_org_id" property="accountOrgId"/>
        <result column="staff_id" property="staffId"/>
        <result column="idx" property="idx"/>
        <result column="credit_code" property="creditCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, credit_code,tender_id, round, supplier_id, status, end_time, create_time, create_user, update_time,
        update_user, data_status, tenant_id, version, create_user_name, update_user_name, create_org, company_id,
        department_id, account_org_id, staff_id, idx
    </sql>


    <!-- 未报价我的报价页面查询映射结果 -->
    <resultMap id="BaseResultMap1" type="com.cndinfo.cndlct.ssp.tender.entity.Quote">
        <!-- <resultMap id="BaseResultMap1" type="com.cndinfo.cndlct.ssp.repository.impl.tender.po.QuotePO">-->
        <id column="StrsId" property="StrsId"></id>
        <result column="merchantName" property="merchantName"/>
        <result column="avatar" property="avatar"/>
        <result column="enterpriseName" property="enterpriseName"/>
        <result column="credit_code" property="creditCode"/>
        <result column="from_time" property="fromTime"/>
        <result column="to_time" property="toTime"/>
        <result column="item_type" property="itemType"/>
        <result column="round" property="Round"/>
        <result column="status" property="status"/>
        <result column="tender_id" property="tenderId"/>
        <result column="publisher" property="publisher"/>
        <result column="supplier_id" property="supplierId"/>
        <collection property="areaList" javaType="java.util.ArrayList"
                    ofType="com.cndinfo.cndlct.ssp.repository.impl.tender.po.TenderLogisticsItemPO">
            <result column="origin" property="origin"/>
            <result column="destination" property="destination"/>
        </collection>
        <collection property="containerList" javaType="java.util.ArrayList"
                    ofType="com.cndinfo.cndlct.ssp.repository.impl.tender.po.TenderContainerPO">
            <result column="container_type" property="containerType"/>
            <result column="quantity" property="quantity"/>
        </collection>
        <collection property="cargoList" javaType="java.util.ArrayList"
                    ofType="com.cndinfo.cndlct.ssp.repository.impl.tender.po.TenderCargoPO">
            <result column="cargo" property="cargo"/>
            <result column="cargo_id" property="cargoId"/>
            <result column="quantity" property="quantity"/>
            <result column="unit" property="unit"/>
        </collection>
    </resultMap>


    <!--<select id="queryQuotePage" resultType="com.cndinfo.cndlct.ssp.tender.tenderroundscope.entity.Quote">-->
    <select id="queryQuotePage" resultMap="BaseResultMap1">
        <!-- select
         strs.round,strs.tender_id,strs.supplier_id,strs.credit_code ,strs.status,
         sei.credit_code ,sei.name enterpriseName,
         sm.name merchantName ,sm.avatar , sm.id ,
         st.from_time , st.to_time , st.item_type
         from (select * ,row_number ()over(partition by strs.supplier_id ,strs.tender_id order by strs.create_time desc )as row_num from ssp_tender_round_scope  strs)
         as strs
         left join ssp_enterprise_information sei on strs.credit_code =sei.credit_code
         left join ssp_merchant sm on sm.id =strs.supplier_id
         left join ssp_tender st on st.id = strs.tender_id
         left join ssp_bid sb on sb.tender_id = strs.tender_id-->
        select strs.round,strs.tender_id,strs.supplier_id,strs.credit_code ,strs.status, sei.credit_code ,sei.name
        enterpriseName, sm.name merchantName ,sm.avatar , sm.id , st.from_time , st.to_time , st.item_type ,st.publisher
        from (select * ,row_number ()over(partition by strs.supplier_id ,strs.tender_id order by strs.create_time desc
        )as row_num from ssp_tender_round_scope strs) as strs
        left join ssp_enterprise_information sei on strs.credit_code =sei.credit_code and sei.data_status =0
        left join ssp_merchant sm on sm.id =strs.supplier_id and sm.data_status =0
        left join ssp_tender st on st.id = strs.tender_id and st.data_status =0
        left join
        (select * ,row_number ()over(partition by sb.supplier_id ,sb.tender_id ,sb.round order by sb.revision desc )as
        row_num1 from ssp_bid sb ) as sb
        on sb.tender_id = strs.tender_id and sb.supplier_id =strs.supplier_id and sb.round =strs.round and row_num1 &lt;=1
        where row_num &lt;= 1
        ${scope.dataScope}
        <!--<where>-->
        <!--  <if test="bidQuoteQuery.quoteStatusEnumList !=null and bidQuoteQuery.quoteStatusEnumList.size()>0">-->
        and ( 1=1
        <!--状态集合-->
        <if test="bidQuoteQuery.quoteStatusEnumList !=null and bidQuoteQuery.quoteStatusEnumList.size()>0">
            or strs.status in
            <foreach collection="bidQuoteQuery.quoteStatusEnumList" open="(" close=")" separator=","
                     item="quoteStatusEnum">
                #{quoteStatusEnum}
            </foreach>

        </if>
        <if test="bidQuoteQuery.isAwaitSelected !=null and !bidQuoteQuery.isAwaitSelected.isEmpty()">
            <!-- 待评选状态(3)为供应商范围中的状态为已提交，议价中(4)状态，然后当前时间大于报价截止时间-->
            or (strs.status in(3) and st.to_time &lt; (now()))
            or (strs.status in(4) and st.to_time &lt; (now()))
        </if>
        )
        <!-- 商户集合-->
        <if test="bidQuoteQuery.merchantIdLIst !=null and bidQuoteQuery.merchantIdLIst.size()>0">
            and strs.supplier_id in
            <foreach collection="bidQuoteQuery.merchantIdLIst" open="(" close=")" separator="," item="merchantId">
                #{merchantId}
            </foreach>

        </if>
        <!--运输方式集合-->
        <if test="bidQuoteQuery.transportEnumList !=null and bidQuoteQuery.transportEnumList.size()>0">
            and st.item_type in
            <foreach collection="bidQuoteQuery.transportEnumList" open="(" close=")" separator=","
                     item="transportEnum">
                #{transportEnum}
            </foreach>

        </if>

        <!--投标单状态是否已经提交-->
        <if test="bidQuoteQuery.bidStatusList !=null and bidQuoteQuery.bidStatusList.size()>0">
            <!-- and sb.status in-->
            or sb.status in
            <foreach collection="bidQuoteQuery.bidStatusList" open="(" close=")" separator="," item="bidStatus">
                #{bidStatus}
            </foreach>
        </if>
        <!--报价截止时间-->
        <if test="bidQuoteQuery.breakTime !=null">
            and Date(st.to_time)=#{bidQuoteQuery.breakTime}
        </if>
        <!-- &lt;!&ndash;询价公司名称&ndash;&gt;
         <if test="bidQuoteQuery.publisherName !=null and bidQuoteQuery.publisherName !=''">
             and st.publisher =#{bidQuoteQuery.publisherName}
         </if>-->
        <!--询价单号-->
        <if test="bidQuoteQuery.tenderNo !=null and bidQuoteQuery.tenderNo !=''">
            and (st.tender_no like (concat ('%',#{bidQuoteQuery.tenderNo},'%')) or st.publisher like (concat
            ('%',#{bidQuoteQuery.tenderNo},'%')))
        </if>
        <!-- </where>-->
    </select>

    <select id="getByTenderIdRoundSupplierId" resultType="com.cndinfo.cndlct.ssp.tender.entity.TenderRoundScope">
        select * from ssp_tender_round_scope
        where 1=1
        <if test="tenderId !=null">
            and tender_id = #{tenderId}
        </if>
        <if test="round !=null">
            and round = #{round}
        </if>
        <if test="supplierId !=null">
            and supplier_id = #{supplierId}
        </if>
    </select>
</mapper>