<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：用户信息-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.user.mapper.UserPOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndinfo.cndlct.ssp.repository.impl.user.po.UserPO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nick_name" property="nickName"/>
        <result column="telephone" property="telephone"/>
        <result column="real_name" property="realName"/>
        <result column="e_sign_id" property="eSignId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_org" property="createOrg"/>
        <result column="company_id" property="companyId"/>
        <result column="department_id" property="departmentId"/>
        <result column="account_org_id" property="accountOrgId"/>
        <result column="staff_id" property="staffId"/>
        <result column="idx" property="idx"/>
        <result column="avatar" property="avatar"/>
        <result column="read_protocol" property="readProtocol"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, read_protocol,user_id, nick_name, telephone, real_name, e_sign_id, create_time, create_user, update_time,
        update_user, data_status, tenant_id, version, create_user_name, update_user_name, create_org, company_id,
        department_id, account_org_id, staff_id, idx, avatar
    </sql>

    <select id="getByUserId" resultType="com.cndinfo.cndlct.ssp.repository.impl.user.po.UserPO">
        select * from ssp_user where user_id =#{id}
    </select>

    <update id="updateUserAvatar">
        update ssp_user u set u.avatar =#{userPO.avatar} where u.user_id =#{userPO.userId}
    </update>

    <resultMap id="userQueryPageMap" type="com.cndinfo.cndlct.ssp.system.dto.response.SystemUserPageQueryDTO">
        <id column="id" property="id"/>
        <id column="user_id" property="userId"/>
        <result column="real_name" property="realName"/>
        <result column="real_name_logic" property="userRegisterStatus"/>
        <result column="enabled" property="userStatus"/>
        <!--        <result column="user_status_logic" property="userStatusLogic"/>-->
        <result column="telephone" property="telephoneNumber"/>
        <result column="create_time" property="registerTime"/>
        <!--        <collection property="merchantInfoList"-->
        <!--                    ofType="com.cndinfo.cndlct.ssp.system.dto.response.MerchantInfoDTO" javaType="list"-->
        <!--        >-->
        <!--            <id column="merchant_id" property="merchantId"/>-->
        <!--            <result column="merchant_name" property="merchantName"/>-->
        <!--            <result column="role" property="merchantRole"/>-->
        <!--        </collection>-->

    </resultMap>

    <select id="userQueryPage" resultMap="userQueryPageMap">
        select
        su.user_id as id,
        su.id as user_id,
        su.enabled as enabled,
        su.real_name as real_name,
        (case when su.real_name is null then '未实名' else '已实名' end) as real_name_logic,
        su.real_name as user_register_status,
        su.enabled,
        <!--        (case su.enabled when '0' then '禁用' when '1' then '启用' end) as user_status_logic,-->
        su.telephone as telephone,
        su.create_time as create_time
        from
        ssp_user su
        where 1=1
        <if test="query.userStatus !=null and query.userStatus != ''">
            and enabled = #{query.userStatus}
        </if>
        <if test="query.userName !=null and query.userName != ''">
            <!--            and su.real_name like concat('%',#{query.userName},'%')-->
            and
            if (su.real_name is not null ,su.real_name,concat('手机用户',substr(telephone,-4)))
            like concat('%',#{query.userName},'%')
        </if>
        <if test="query.telephoneNumber !=null and query.telephoneNumber != ''">
            and su.telephone like concat('%',#{query.telephoneNumber},'%')
        </if>
        <if test="query.registerTime !=null and query.registerTime.size() >0">
            <!--            and #{query.registerTime} = date_format(su.create_time,'%Y-%m-%d')-->
            and (date_format(su.create_time,'%Y-%m-%d') between #{query.registerTime[0]} and #{query.registerTime[1]})
        </if>
        <if test="query.userRegisterStatus !=null and query.userRegisterStatus != ''">
            <if test="query.userRegisterStatus == 1">
                and su.real_name is not null
            </if>
            <if test="query.userRegisterStatus == 0">
                and su.real_name is null
            </if>
        </if>
        order by su.create_time desc
    </select>

    <select id="getById" resultType="com.cndinfo.cndlct.ssp.repository.impl.user.po.UserPO">
        select id from ssp_user where id =${id}
    </select>
</mapper>