<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：商户信息-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.business.merchant.mapper.MerchantAdminChangeApplicationPOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndinfo.cndlct.ssp.repository.impl.business.merchant.po.MerchantAdminChangeApplicationPO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_org" property="createOrg"/>
        <result column="company_id" property="companyId"/>
        <result column="department_id" property="departmentId"/>
        <result column="account_org_id" property="accountOrgId"/>
        <result column="staff_id" property="staffId"/>
        <result column="idx" property="idx"/>
        <result column="avatar" property="avatar"/>
        <result column="original_name" property="originalName"/>
    </resultMap>


    <!--        分页查询消息列表-->
    <select id="queryPageList" resultType="com.cndinfo.cndlct.ssp.system.dto.response.MerchantAdminChangeApplicationDTO">
        select
            smaca.id,
            sm.name as merchantName,
            smaca.status ,
            ssu.real_name as sourceUser,
            tsu.real_name as targetUser,
            ssu.telephone as sourceUserTelephone,
            tsu.telephone as targetUserTelephone,
            smaca.create_time as applyTime
            from
            ssp_merchant_admin_change_application smaca
            left join ssp_merchant sm on
            smaca.merchant_id = sm.id
            left join ssp_user ssu on
            smaca.source_user_id = ssu.user_id
            left join ssp_user tsu on
            smaca.target_user_id = tsu.user_id
        where 1=1 and smaca.data_status=0
        <if test="query.applyTime !=null and query.applyTime.size() >0">
            and (date_format(smaca.create_time,'%Y-%m-%d') between #{query.applyTime[0]} and #{query.applyTime[1]})
        </if>
        <if test="query.merchantName!=null and !query.merchantName.isBlank()">
            and sm.name like (concat ('%',#{query.merchantName},'%'))
        </if>
        <if test="query.sourceUser!=null and !query.sourceUser.isBlank()">
            and ssu.real_name like (concat ('%',#{query.sourceUser},'%'))
        </if>
        <if test="query.targetUser!=null and !query.targetUser.isBlank()">
            and tsu.real_name like (concat ('%',#{query.targetUser},'%'))
        </if>
    </select>

    <update id="changeStatus">
        update ssp_merchant_admin_change_application a set a.status = #{applyStatus} where a.id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>

</mapper>