<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 基础层：商户信息-Mapper -->
<mapper namespace="com.cndinfo.cndlct.ssp.repository.impl.business.merchant.mapper.MerchantPOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndinfo.cndlct.ssp.repository.impl.business.merchant.po.MerchantPO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="data_status" property="dataStatus"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_org" property="createOrg"/>
        <result column="company_id" property="companyId"/>
        <result column="department_id" property="departmentId"/>
        <result column="account_org_id" property="accountOrgId"/>
        <result column="staff_id" property="staffId"/>
        <result column="idx" property="idx"/>
        <result column="avatar" property="avatar"/>
        <result column="original_name" property="originalName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, create_time, create_user, update_time, update_user, data_status, tenant_id, version,
        create_user_name, update_user_name, create_org, company_id, department_id, account_org_id, staff_id, idx,
        avatar,original_name
    </sql>

    <update id="updateMerchantAvatar">
        update ssp_merchant m set m.avatar =#{merchant.avatar} where m.id =#{merchant.id}
    </update>
    <!--管理员的字典值站定为1-->
    <select id="queryAllMerchantPage" resultType="com.cndinfo.cndlct.ssp.system.entity.AllMerchantPage">
        select sm.name merchantName, sm.original_name originalMerchantName, sm.create_time , sm.id merchantId, sm.avatar
        merchantAvatar,
        sei.name enterpriseName,
        su.real_name admin, su.telephone adminTelephone
        from ssp_merchant sm
        left join ssp_merchant_enterprise_authorization smea on sm.id =smea.merchant_id and smea.`primary` ="y" and
        smea.data_status =0
        left join ssp_enterprise_information sei on sei.credit_code =smea.credit_code and sei.data_status =0
        left join ssp_user_merchant_relation sumr on sumr.merchant_id =smea.merchant_id and sumr.`role` like '%1%' and
        sumr.data_status =0
        left join ssp_user su on su.user_id =sumr.user_id and su.data_status =0
        where
        sm.data_status =0
        <if test="systemMerchantQueryEntity.merchantName!=null and !systemMerchantQueryEntity.merchantName.isBlank()">
            and sm.name like (concat ('%',#{systemMerchantQueryEntity.merchantName},'%'))
        </if>
        <if test="systemMerchantQueryEntity.enterpriseName!=null and !systemMerchantQueryEntity.enterpriseName.isBlank()">
            and sei.name like (concat ('%',#{systemMerchantQueryEntity.enterpriseName},'%'))
        </if>
        <if test="systemMerchantQueryEntity.adminName!=null and !systemMerchantQueryEntity.adminName.isBlank()">
            and su.real_name like (concat ('%',#{systemMerchantQueryEntity.adminName},'%'))
        </if>
        <if test="systemMerchantQueryEntity.createTime!=null">
            and Date(sm.create_time)=#{systemMerchantQueryEntity.createTime}
        </if>
        <if test="systemMerchantQueryEntity.enterpriseStatus!=null and !systemMerchantQueryEntity.enterpriseStatus.isBlank()">
            and smea.authorized = 'y' and smea.credit_code is not null and smea.`primary` ='y'
        </if>
        order by sm.create_time desc
    </select>

    <select id="queryMerchantInformation" resultType="com.cndinfo.cndlct.ssp.system.entity.AllMerchantPage">
        select sm.name merchantName, sm.original_name originalMerchantName, sm.create_time , sm.id merchantId, sm.avatar
        merchantAvatar,
        sei.name enterpriseName,
        su.real_name admin, su.telephone adminTelephone
        from ssp_merchant sm
        left join ssp_merchant_enterprise_authorization smea on sm.id =smea.merchant_id and smea.`primary` ="y" and
        smea.data_status =0
        left join ssp_enterprise_information sei on sei.credit_code =smea.credit_code and sei.data_status =0
        left join ssp_user_merchant_relation sumr on sumr.merchant_id =smea.merchant_id and sumr.`role` = 1735199540702741504 and
        sumr.data_status =0
        left join ssp_user su on su.user_id =sumr.user_id and su.data_status =0
        where
        sm.data_status =0 and sm.id=#{merchantId}
    </select>
    <select id="getMerchantData" resultType="com.cndinfo.cndlct.ssp.repository.impl.business.merchant.po.MerchantPO">
        select sm .id ,sm.name  from ssp_user_merchant_relation sumr
        left join ssp_merchant sm on sumr .merchant_id =sm .id
        where sumr .enabled =0 and sumr .user_id =#{userId}
        <if test="roleids.size()>0 and roleids !=null ">
            and sumr.`role` in
            <foreach collection="roleids"
                     item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>